<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th {
            font-family: fantasy;
            color: orange;
            background: black;
        }
        table {
            color: ;
        }
        input {
            position: absolute;
            left: 150px;
            margin-right: 5px;
        }
        label {
            position: static;
        }
        fieldset {
            width:300px;
            height:130px;
        }


    </style>

</head>
<body>

<table border="1px" cellpadding="5px" cellspacing="0" bordercolor="orange">

    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Tempo de Servoço</th>
        <th>Remuneração</th>
    </tr>
    {% for item in funcionario %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.sobrenome }}</td>
            <td>{{ item.cpf }}</td>
            <td>{{ item.tempo_de_servico }}</td>
            <td>{{ item.remuneracao }}</td>
        </tr>
    {% endfor %}
</table></br>

<p>{{ msg }}</p>

<form method="post">{% csrf_token %}

    {{ formulario.as_p }}

    <input type=submit value="OK"></br></br>


</form>

</body>
</html>