{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Tempo de Servoço</th>
        <th>Remuneração</th>
    </tr>
    {% for item in funcionario %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.sobrenome }}</td>
            <td>{{ item.cpf }}</td>
            <td>{{ item.tempo_de_servico }}</td>
            <td>{{ item.remuneracao }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>