<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Funcionarios</title>
    <style>

        th {font-family:fantasy; color:orange; background:black}

        input {position:absolute; left:150px; margin-right:5px}

        label {position: static}
        fieldset {width:300px; height:130px}

    </style>
</head>
<body>

<table border="1px" cellpadding="3px" cellspacing="0" bordercolor="orange">

    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Tempo de Servoço</th>
        <th>Remuneração</th>
    </tr>

    <tr>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.sobrenome }}</td>
        <td>{{ funcionario.cpf }}</td>
        <td>{{ funcionario.tempo_de_servico }}</td>
        <td>{{ funcionario.remuneracao }}</td>
    </tr>



</table></br>

<form method="post">

    {% csrf_token %}

    {{ formulario.as_p }}

    <input type=submit value="OK"></br></br>

</form>
</body>
</html>